{% extends "base.html" %}

{% block title %}Nosotros{% endblock %}

{% block content %}

<section class="container my-5">
    <h2 class="text-center mb-4">Sobre Nosotros</h2>
    <p>En Vinoteca Premium nos dedicamos a la venta de vinos de alta calidad. Contamos con una amplia variedad de vinos
        tintos, blancos, rosados, espumosos y de alta gama. También ofrecemos una selección de vinos en oferta para que
        puedas disfrutar de la mejor calidad al mejor precio.</p>
    <p>Si tienes alguna consulta, no dudes en contactarnos a través de nuestro formulario de contacto o visitando
        nuestra tienda en la calle Principal 123.</p>

    <h3 class="mt-5">Nuestra Historia</h3>
    <p>Vinoteca Premium fue fundada en 2001 por Juan Pérez, un apasionado del vino que decidió abrir su propia tienda
        para compartir su amor por esta bebida con el mundo. Desde entonces, hemos crecido y ampliado nuestra selección
        de vinos para ofrecer a nuestros clientes la mejor calidad y variedad.</p>
</section>

<section class="container my-5">
    <h2 class="text-center mb-4">Equipo de Trabajo</h2>
    <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="static/images/vino.webp" class="card-img-top" alt="Miembro del equipo 1">
                <div class="card-body">
                    <h5 class="card-title">Juan Pérez</h5>
                    <p class="card-text">Director General</p>
                    <p class="card-text">Juan cuenta con más de 20 años de experiencia en la industria del vino y ha
                        liderado la compañía desde su fundación.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="static/images/vino.webp" class="card-img-top" alt="Miembro del equipo 2">
                <div class="card-body">
                    <h5 class="card-title">María García</h5>
                    <p class="card-text">Enóloga Jefe</p>
                    <p class="card-text">María es responsable de la calidad de nuestros vinos y se asegura de que cada
                        botella cumpla con nuestros altos estándares.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="static/images/vino.webp" class="card-img-top" alt="Miembro del equipo 3">
                <div class="card-body">
                    <h5 class="card-title">Carlos Fernández</h5>
                    <p class="card-text">Gerente de Ventas</p>
                    <p class="card-text">Carlos supervisa nuestro equipo de ventas y se encarga de establecer relaciones
                        con nuestros clientes y distribuidores.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}