{% extends "base.html" %}

{% block title %}Servicios{% endblock %}

{% block content %}

<section class="container my-5">
    <h2 class="text-center mb-4">Nuestros Servicios</h2>
    <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Catas de Vino</h5>
                    <p class="card-text">Ofrecemos catas de vino guiadas por expertos para que puedas disfrutar y
                        aprender más sobre los vinos que ofrecemos.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Asesoramiento Personalizado</h5>
                    <p class="card-text">Nuestro equipo de expertos está disponible para ofrecerte asesoramiento
                        personalizado en la selección de vinos, ya sea para una ocasión especial o para tu colección
                        personal.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eventos Privados</h5>
                    <p class="card-text">Organizamos eventos privados y corporativos, ofreciendo una experiencia única
                        con nuestros vinos premium y la atención exclusiva de nuestros sommeliers.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Envíos a Domicilio</h5>
                    <p class="card-text">Realizamos envíos a domicilio para que puedas disfrutar de nuestros vinos en la
                        comodidad de tu hogar, con entrega rápida y segura.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Club de Vinos</h5>
                    <p class="card-text">Únete a nuestro club de vinos y recibe mensualmente una selección exclusiva de
                        nuestros mejores vinos, con descuentos y promociones especiales.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cursos y Talleres</h5>
                    <p class="card-text">Ofrecemos cursos y talleres sobre el mundo del vino, desde la viticultura hasta
                        la cata profesional, para todos los niveles de conocimiento.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Maridajes</h5>
                    <p class="card-text">Te ayudamos a descubrir las mejores combinaciones de vinos y alimentos para
                        realzar tus experiencias culinarias.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Visitas a Viñedos</h5>
                    <p class="card-text">Organizamos visitas guiadas a viñedos seleccionados, donde podrás aprender
                        sobre el proceso de producción del vino y degustar directamente en los lugares de origen.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Regalos Personalizados</h5>
                    <p class="card-text">Ofrecemos la opción de crear cestas de regalo personalizadas con una selección
                        de nuestros mejores vinos y productos gourmet.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}